PORT = 4000
MONGODB_URI = "mongo.url"
CORS_ORIGIN = ***
ACCESS_TOKEN_SECRET =  abcacasfasefafcadfa
ACCESS_TOKEN_EXPIRY = 3d
REFRESH_TOKEN_SECRET = 343rwefsdfhbdgwsertgdgbnd
REFRESH_TOKEN_EXPIRY = 0d
CLOUDINARY_CLOUD_NAME = this is the cloud name
CLOUDINARY_API_KEY = asdfwf
CLOUDINARY_API_SECRET =     sfsf
REDIS_URL =  hrthjndbStewhnae
LIVEKIT_API_KEY=htrhndtjmfsbewtgw
LIVEKIT_API_SECRET=afcawsfacvaw
LIVEKIT_URL = "afsafvwearfac"